header {
    background-color: #1F2232;
    color: white;
    text-align: center;
    height: fit-content;
}

.Logo {
    margin-right: 70%;
}

.div-items {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    margin: -40px 200px 0 20px;
    padding-bottom: 10px;
}

h6 {
    margin: 0 0 0 5px;
}



a:link {
    text-decoration: none;
    color: lightgray;
   }
