.Container {
    padding: 1em;
    background-color: #C5D1EB;
    text-align: center;
}

.Barra-de-pesquisa {
    background-color: #FFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    width: 550px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.pesquisar {
    margin-left: 60px;
}

input {
    width: 80%;
    margin: 20em 10% 0 0;
    border: none;
    outline: none;
    border-radius: 10px;
}

.minhaConta {
    display: flex;
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background: #276FBF;
    margin: -35px 0 0 1400px;
    cursor: pointer;
}

.minhaConta h5 {
    margin-top: 9px;
    color: white;
    
}